@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  max-width: 550px;
}

.header-container {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.card-container {
  display: flex;
  max-height: 168px;
  margin-top: 40px;
  margin-left: 30px;
  max-width: 500px;
}

.card-info {
  margin-left: 20px;
}

.card-info h1 {
  margin-block-start: 0px;
  font-size: 25px;
}

.card-info {
  margin-top: -10px;
  font-size: 12px;
  line-height: 150%;
}

.card-info h6 {
  margin-block-end: 0px;
}

.card-location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-location p {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.card-location a {
  color: #918E9B;
}

.location-image {
  width: 125px;
  border-radius: 5px;
  height: 180px;
}
